:root
{
    --main-bg-color: rgba(200, 200, 200, 1.0);
    --main-fg-color: rgba(0, 0, 0, 1.0);

    --background-bg-color: rgba(100, 100, 100, 1.0);
    --background-fg-color: rgba(150, 150, 150, 1.0);

    --main-inverted-value: 100%;
    --main-uninverted-value: 0%;

    --action-button-size: calc(max(3vh - 2vw, 10px));
}

:root[data-theme="dark"]
{
    --main-bg-color: rgba(50, 50, 50, 1.0);
    --main-fg-color: rgba(200, 200, 200, 1.0);

    --background-bg-color: rgba(10, 10, 10, 1.0);
    --background-fg-color: rgba(30, 30, 30, 1.0);

    --main-inverted-value: 0%;
    --main-uninverted-value: 100%;
}

/* Please see https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */
:root.transitioning-color-theme *,
    :root.transitioning-color-theme *::before,
    :root.transitioning-color-theme *::after
{
    transition: 0.8s ease all !important;
}

#changeTheme
{
    box-sizing: border-box;

    padding: var(--action-button-size);
    margin-left: auto; /* Push to the right. */
    margin-right: 6px;
    display: block;    /* Permits moving to the right. */

    border: none;
    border-radius: 100%; /* Completely circular */

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../ui/themeSwitch.svg);
    background-size: 100% 100%;
    filter: invert(var(--main-uninverted-value));

    transform: rotate(1deg);
    box-shadow: -2px 0px 4px rgba(150, 150, 150, 0.5);

    transition: filter 0.5s ease, transform 0.25s ease;
}

#changeTheme:hover
{
    filter: invert(var(--main-inverted-value));
    transform: rotate(14deg);
}

.content
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    box-shadow: 2px 0px 3px rgba(100, 100, 100, 0.8);

    max-width: 400px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
    margin-bottom: 35px;

    padding: 12pt;

    transform: rotate(12deg);
    transform-origin: top left;

    transition: transform 700ms ease-in-out;
}

.content:hover
{
    transform: scale(1, 1);
}

body, html
{
    margin: 0;
}

body
{
    background-color: var(--background-bg-color);
    background-image: radial-gradient(var(--background-fg-color), rgba(0, 0, 0, 0.0));
    background-size: 5px 5px;

    font-family: sans;
}

@media screen and (max-width: 460px)
{
    .content
    {
        transform: scale(1, 1);
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
