:root
{
    --main-bg-color: rgba(200, 200, 200, 1.0);
    --main-fg-color: rgba(0, 0, 0, 1.0);

    --background-bg-color: rgba(100, 100, 100, 1.0);
    --background-fg-color: rgba(150, 150, 150, 1.0);

    --main-inverted-value: 100%;
    --main-uninverted-value: 0%;

    --action-button-size: calc(min(max(4vh - 2vw, 10px), 40px));
}

:root[data-theme="dark"]
{
    --main-bg-color: rgba(50, 50, 50, 1.0);
    --main-fg-color: rgba(200, 200, 200, 1.0);

    --background-bg-color: rgba(10, 10, 10, 1.0);
    --background-fg-color: rgba(30, 30, 30, 1.0);

    --main-inverted-value: 0%;
    --main-uninverted-value: 100%;
}

/* Please see https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */
:root.transitioning-color-theme *,
    :root.transitioning-color-theme *::before,
    :root.transitioning-color-theme *::after
{
    transition: 0.8s ease all !important;
}

#changeTheme
{
    box-sizing: border-box;

    padding: var(--action-button-size);
    margin-left: auto; /* Push to the right. */
    margin-right: 6px;
    display: block;    /* Permits moving to the right. */

    border: none;
    border-radius: 100%; /* Completely circular */

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../ui/themeSwitch.svg);
    background-size: 100% 100%;
    filter: invert(var(--main-uninverted-value));

    transform: rotate(1deg);
    box-shadow: -2px 0px 4px rgba(150, 150, 150, 0.5);

    transition: filter 0.5s ease, transform 0.25s ease;
}

#changeTheme:hover
{
    filter: invert(var(--main-inverted-value));
    transform: rotate(14deg);
}

main
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    box-shadow: 2px 0px 3px rgba(100, 100, 100, 0.8);

    max-width: 400px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
    margin-bottom: 35px;

    padding: 12pt;
}

.spacing
{
    flex-grow: 1;
    flex-shrink: 1;
}

header .icon
{
    background-image: url(../ui/favicon.svg);
    background-size: 100% 100%;
    background-clip: border-box;

    width: var(--header-height);
    border-radius: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}

header .title
{
    margin-left: 12px;
    text-shadow: 0px 1px 8px rgba(255, 255, 255, 0.9);
}

header
{
    --header-height: calc(4 * var(--action-button-size));
    background-color: var(--background-fg-color);
    box-shadow: 0px 3px 2px rgba(100, 100, 100, 0.6);
    display: flex;

    min-height: var(--header-height);
    
    flex-direction: row;
    align-items: stretch;

    font-family: sans;
    font-size: calc(0.8*var(--header-height));

    color: var(--main-fg-color);
}

body, html
{
    margin: 0;
}

body
{
    background-color: var(--background-bg-color);
    background-image: radial-gradient(var(--background-fg-color), rgba(0, 0, 0, 0.0));
    background-size: 5px 5px;

    font-family: sans;
}

@media screen and (max-width: 460px)
{
    main
    {
        transform: scale(1, 1);
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media print
{
    main
    {
        box-shadow: none;
        max-width: none;
        margin-left: inherit;
        margin-right: inherit;
    }
    
    #changeTheme
    {
        display: none;
    }
}
