
.propulsionStats
{
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    border-top: 1px solid grey;
    padding-top: 5px;

    --shadow-color: rgba(100, 100, 100, 0.5);
}

.propulsionStats canvas
{
    display: block; /* Lets us use box-sizing */

    box-sizing: border-box; /* Make any borders shrink its box! */
    box-shadow: 0px 2px 3px var(--shadow-color);
    border-radius: 12px;

    flex-grow: 1.4;
    flex-shrink: 0.5;
}

.propulsionStats .tiles
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    border-bottom: 1px solid grey;

    padding: 12px 0px 12px 0px;
}

.propulsionStats .tiles > .tile
{
    margin: 3px 4px 3px 3px; /* Top, right, bottom, left */
    border: 1px solid grey;
    box-shadow: 0px 2px 4px var(--shadow-color);
    border-radius: 12px;

    max-height: 120px;
    max-width: 120px;

    padding: 12px;

    display: flex;
    flex-flow: column-reverse;

    cursor: pointer;

    filter: saturate(50%);
    background-color: rgba(0, 0, 0, 0.0);
    transform: scale(1, 1);

    transition: all 0.3s ease;
}

.propulsionStats .tiles > .tile img
{
    display: block;
    box-sizing: border-box;

    flex-grow: 1;
    flex-shrink: 2;

    width: 100%; /* Required for Safari & Chrome */
    height: auto;

    margin: 0;
}

.propulsionStats .tiles > .tile div
{
    background-color: var(--main-bg-color);
    border-radius: 15px;

    text-align: center;

    box-shadow: 0px 0px 4px var(--shadow-color);

    margin: 0;
}

.propulsionStats .tiles > .tile:hover, .propulsionStats .tiles > .tile:focus, .propulsionStats .tiles > .tile.active
{
    filter: saturate(100%);
    box-shadow: 2px 2px 16px var(--shadow-color);
    background-color: rgba(100, 100, 100, 0.3);

    transform: scale(1.1, 1.1);
    z-index: 3;
}

.propulsionStats .tiles > .tile.selected
{
    background-color: rgba(100, 100, 100, 0.8);
    filter: saturate(120%);

    transform: scale(1.08, 1.08);
    z-index: 2;
}


.propulsionStats .stats
{
    display: flex;
    flex-direction: column;
}

.propulsionStats .stats > div
{
    background-color: rgba(100, 100, 200, 0.4);
    border-radius: 32px;
    padding: 14px;
    text-shadow: -1px -2px 4px var(--background-bg-color);

    font-family: 'Courier New', Courier, monospace;

    background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0));
    background-size: 4px 4px;

    box-shadow: 2px 1px 3px var(--shadow-color);

    margin-top: 4px;
}

.propulsionStats .controls
{
    background-color: rgba(100, 50, 50, 0.2);
    box-shadow: inset 3px -5px 4px var(--shadow-color);
    border-radius: 14px;

    animation: 1s ease grow-in;
}

.propulsionStats .hidden
{
    animation: 1s ease shrink-out;
    max-height: 0;
    overflow: hidden;

    opacity: 0;
}

.propulsionStats .controls > div
{
    display: flex;
    flex-direction: row;
}

.propulsionStats .controls input
{
    flex-grow: 2;
    flex-shrink: 1;
    display: block;
}

.propulsionStats .controls button
{
    flex-grow: 1;
    flex-shrink: 1;
    display: block;

    border: none;

    background-color: var(--background-fg-color);
    color: var(--main-fg-color);
    border-radius: 8px;

    box-shadow: 0px 0px 2px var(--shadow-color);

    cursor: pointer;

    transition: transform 0.4s linear;
}

.propulsionStats .controls button:hover, .propulsionStats .controls button:active
{
    transform: scale(1.01, 1.1);
}