
.propulsionStats
{
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    border-top: 1px solid grey;

    --shadow-color: rgba(100, 100, 100, 0.5);
}

.propulsionStats canvas
{
    display: block; /* Lets us use box-sizing */

    box-sizing: border-box; /* Make any borders shrink its box! */
    box-shadow: 0px 2px 3px var(--shadow-color);
    border-radius: 12px;

    flex-grow: 1.4;
    flex-shrink: 0.5;
}

.propulsionStats .tiles
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    border-bottom: 1px solid grey;

    padding: 12px 0px 12px 0px;
}

.propulsionStats .tiles > .tile
{
    margin: 3px 4px 3px 3px; /* Top, right, bottom, left */
    border: 1px solid grey;
    box-shadow: 0px 2px 4px var(--shadow-color);
    border-radius: 12px;

    max-height: 120px;
    max-width: 120px;

    padding: 12px;

    display: flex;
    flex-flow: column-reverse;

    cursor: pointer;

    filter: saturate(50%);
    background-color: rgba(0, 0, 0, 0.0);
    transform: scale(1, 1);

    transition: all 0.3s ease;
}

.propulsionStats .tiles > .tile img
{
    display: block;
    box-sizing: border-box;

    flex-grow: 1;
    flex-shrink: 2;

    width: 100%; /* Required for Safari & Chrome */
    height: auto;
}

.propulsionStats .tiles > .tile div
{
    background-color: var(--main-bg-color);
    border-radius: 15px;

    text-align: center;

    box-shadow: 0px 0px 4px var(--shadow-color);
}

.propulsionStats .tiles > .tile:hover, .propulsionStats .tiles > .tile:focus, .propulsionStats .tiles > .tile.active
{
    filter: saturate(100%);
    box-shadow: 2px 2px 16px var(--shadow-color);
    background-color: rgba(100, 100, 100, 0.3);

    transform: scale(1.1, 1.1);
    z-index: 3;
}

.propulsionStats .tiles > .tile.selected
{
    background-color: rgba(100, 100, 100, 0.8);
    filter: saturate(120%);

    transform: scale(1.08, 1.08);
    z-index: 2;
}
